name: Pipeline

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  validate:
    runs-on: ubuntu-latest
    name: Validate
    steps:
      - name: Checkout credo-ts-examples
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - uses: pnpm/action-setup@v2
        with:
          version: 8.6.2
          run_install: true

      - name: Check Biome
        run: pnpm validate

      - name: Check examples outdated
        run: |
          pnpm extract-examples

          if git diff-files --quiet;
          then
              echo "Git branch clean. Examples up to date"
          else 
              git diff-files
              echo "Git branch dirty. Examples out of date. Please run 'pnpm extract-examples' and commit the changes."
              exit 1
          fi
